[package]
name = "injective-protobuf"
version = "0.2.0"
authors = ["Mauro Lacy <mauro@lacy.com.es>"]
edition = "2018"
description = "Protobug parsing for Injective Protocol"
repository = "https://github.com/InjectiveLabs/cw-injective/tree/master/packages/injective-protobuf"
license = "Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
protobuf-codegen-pure = "2"

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
cosmwasm-std = { version = "1.1.1" }
schemars = "0.8.8"
serde = { version = "1.0.136", default-features = false, features = ["derive"] }
ethereum-types = "0.5.2"
subtle-encoding = { version = "0.5.1", features = ["bech32-preview"] }
num = "0.4.0"
protobuf = { version = "2", features = ["with-bytes"] }

[dev-dependencies]
cosmwasm-schema = { version = "1.1.1" }
