[package]
name = "injective-math"
version = "0.1.12"
authors = ["Markus Waas <markus@injectivelabs.org>"]
edition = "2018"
description = "Math library for CosmWasm contracts in Injective Protocol"
repository = "https://github.com/InjectiveLabs/cw-injective/tree/master/packages/injective-math"
license = "Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
cosmwasm-std = { version = "1.1.1" }
schemars = "0.8.8"
serde = { version = "1.0.136", default-features = false, features = ["derive"] }
ethereum-types = "0.5.2"
subtle-encoding = { version = "0.5.1", features = ["bech32-preview"] }
bigint = "4"
num = "0.4.0"

[dev-dependencies]
cosmwasm-schema = { version = "1.1.1" }
