[package]
authors     = [ "Markus Waas <markus@injectivelabs.org>" ]
description = "Math library for CosmWasm contracts in Injective Protocol"
edition     = "2018"
license     = "Apache-2.0"
name        = "injective-math"
readme      = "README.md"
repository  = "https://github.com/InjectiveLabs/cw-injective/tree/master/packages/injective-math"
version     = "0.1.23"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = [ "cosmwasm-std/backtraces" ]

[dependencies]
bigint          = "4"
cosmwasm-std    = { version = "1.1.1" }
ethereum-types  = "0.5.2"
schemars        = "0.8.8"
serde           = { version = "1.0.136", default-features = false, features = [ "derive" ] }
subtle-encoding = { version = "0.5.1", features = [ "bech32-preview" ] }

[dev-dependencies]
cosmwasm-schema = { version = "1.1.1" }
