[package]
authors     = [ "Albert Chon <albert@injectivelabs.org>", "Bartek Tofel <tofel.b@gmail.com>", "F Grabner <friedrich@injectivelabs.org>", "Markus Waas <markus@injectivelabs.org>" ]
description = "Bindings for CosmWasm contracts to call into custom modules of Injective Core"
edition     = "2018"
license     = "Apache-2.0"
name        = "injective-cosmwasm"
readme      = "README.md"
repository  = "https://github.com/InjectiveLabs/cw-injective/tree/master/packages/bindings"
version     = "0.2.15"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-std    = { version = "1.4.1" }
cw-storage-plus = { version = "0.15.0" }
ethereum-types  = "0.5.2"
hex             = { version = "0.4.3", features = [ "serde" ] }
injective-math  = { path = "../injective-math", version = "0.2.0" }
schemars        = "0.8.8"
serde           = { version = "1.0.136", default-features = false, features = [ "derive" ] }
serde_repr      = "0.1"
subtle-encoding = { version = "0.5.1", features = [ "bech32-preview" ] }
tiny-keccak     = "1.2.1"

[dev-dependencies]
cosmwasm-schema = { version = "1.4.1" }
serde-json-wasm = { version = "0.4.1" }
serde_test      = { version = "1.0.166" }
