[package]
name = "injective-cosmwasm"
version = "0.1.80"
authors = ["Albert Chon <albert@injectivelabs.org>"]
edition = "2018"
description = "Bindings for CosmWasm contracts to call into custom modules of Injective Core"
repository = "https://github.com/InjectiveLabs/cw-injective/tree/master/packages/bindings"
license = "Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-std = { version = "1.1.1" }
cw-storage-plus = { version = "0.15.0" }
schemars = "0.8.8"
serde = { version = "1.0.136", default-features = false, features = ["derive"] }
serde_repr = "0.1"
ethereum-types = "0.5.2"
subtle-encoding = { version = "0.5.1", features = ["bech32-preview"] }
injective-math = { path = "../injective-math", version = "0.1.4" }

[dev-dependencies]
cosmwasm-schema = { version = "1.1.1" }
