[package]
authors     = [ "Albert Chon <albert@injectivelabs.org>", "F Grabner <friedrich@injectivelabs.org>", "Markus Waas <markus@injectivelabs.org>" ]
description = "Bindings for CosmWasm contracts to call into custom modules of Injective Core"
edition     = "2021"
license     = "Apache-2.0"
name        = "injective-cosmwasm"
readme      = "README.md"
repository  = "https://github.com/InjectiveLabs/cw-injective/tree/dev/packages/injective-cosmwasm"
version     = "0.2.21"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cosmwasm-std    = { version = "1.5.0", features = [ "abort", "cosmwasm_1_2", "cosmwasm_1_3", "cosmwasm_1_4", "iterator", "stargate" ] }
cw-storage-plus = { version = "1.2.0" }
ethereum-types  = { version = "0.5.2" }
hex             = { version = "0.4.3", features = [ "serde" ] }
injective-math  = { version = "0.2.4", path = "../injective-math" }
schemars        = "0.8.16"
serde           = { version = "1.0.193", default-features = false, features = [ "derive" ] }
serde_repr      = "0.1.17"
subtle-encoding = { version = "0.5.1", features = [ "bech32-preview" ] }
tiny-keccak     = "1.2.1"

[dev-dependencies]
cosmwasm-schema = { version = "1.5.0" }
serde-json-wasm = { version = "1.0.0" }
serde_test      = { version = "1.0.176" }
